<!DOCTYPE html>
<html>
	<title>TITLE</title>
	<body>

	    <script type="text/javascript">
		    function fnc(value) {
		    	var existing_countries = '{{existing_countries}}'.split(',');
				for(i = 0; i < existing_countries.length; i++){
					if (existing_countries.includes(value) | (value === "")){
						document.getElementById("country_name").style.background = "red";
						 document.getElementById("submit").disabled = true; 
					}else{
					    document.getElementById("country_name").style.background = "lightgreen"; 
						 document.getElementById("submit").disabled = false; 
					};
				};
		    	return value;
		    }
		</script>

		<h1>Create new Country</h1>
		<br>
		<p style="font-size: 12px;">*You can't choose a country name existing in list</p>
		<br>
		
		<form action="super_user/create_new_country" method="post">
			
			{% csrf_token %}

			<label for="country_name">Country Name</label>
			<input autocomplete="off" list="country_name_" onkeyup="this.value = fnc(this.value)" type="text" placeholder="required" id="country_name" name="country_name" autofocus required style="background-color: red;">
			<datalist id="country_name_">
				{% for i in existing_countries_list %}
					<option value={{i}}>
				{% endfor %}
			</datalist>
			<br><br>
			<br><br>


			<label for="playerName_1">Player 1&ensp;</label>
			<input autocomplete="off" type="text" placeholder="required batsman" id="playerName_1" name="playerName_1" required>
			<select style="width: 115px;" id="player_1" name="player_1">
				<option value="batsman">Batsman</option>
			</select>
			<br>
            
			<label for="playerName_2">Player 2&ensp;</label>
			<input autocomplete="off" type="text" placeholder="required bowler" id="playerName_2" name="playerName_2" required>
			<select style="width: 115px;" id="player_2" name="player_2">
				<option value="bowler">Bowler</option>
			</select>
			<br>
            
			<label for="playerName_3">Player 3&ensp;</label>
			<input autocomplete="off" type="text" placeholder="required all_rounder" id="playerName_3" name="playerName_3" required>
			<select style="width: 115px;" id="player_3" name="player_3">
				<option value="all_rounder">All rounder</option>
			</select>
			<br>
            
			<label for="playerName_4">Player 4&ensp;</label>
			<input autocomplete="off" type="text" placeholder="required wicket_keeper" id="playerName_4" name="playerName_4" required>
			<select style="width: 115px;" id="player_4" name="player_4">
				<option value="wicket_keeper">Wicket keeper</option>
			</select>
			<br>
            
			<label for="playerName_5">Player 5&ensp;</label>
			<input autocomplete="off" type="text" placeholder="required" id="playerName_5" name="playerName_5" required>
			<select style="width: 115px;" id="player_5" name="player_5">
				<option value="batsman">Batsman</option>
				<option value="bowler">Bowler</option>
				<option value="all_rounder">All rounder</option>
				<option value="wicket_keeper">Wicket keeper</option>
			</select>
			<br>
            
			<label for="playerName_6">Player 6&ensp;</label>
			<input autocomplete="off" type="text" placeholder="required" id="playerName_6" name="playerName_6" required>
			<select style="width: 115px;" id="player_6" name="player_6">
				<option value="batsman">Batsman</option>
				<option value="bowler">Bowler</option>
				<option value="all_rounder">All rounder</option>
				<option value="wicket_keeper">Wicket keeper</option>
			</select>
			<br>
            
			<label for="playerName_7">Player 7&ensp;</label>
			<input autocomplete="off" type="text" placeholder="required" id="playerName_7" name="playerName_7" required>
			<select style="width: 115px;" id="player_7" name="player_7">
				<option value="batsman">Batsman</option>
				<option value="bowler">Bowler</option>
				<option value="all_rounder">All rounder</option>
				<option value="wicket_keeper">Wicket keeper</option>
			</select>
			<br>
            
			<label for="playerName_8">Player 8&ensp;</label>
			<input autocomplete="off" type="text" placeholder="required" id="playerName_8" name="playerName_8" required>
			<select style="width: 115px;" id="player_8" name="player_8">
				<option value="batsman">Batsman</option>
				<option value="bowler">Bowler</option>
				<option value="all_rounder">All rounder</option>
				<option value="wicket_keeper">Wicket keeper</option>
			</select>
			<br>
            
			<label for="playerName_9">Player 9&ensp;</label>
			<input autocomplete="off" type="text" placeholder="required" id="playerName_9" name="playerName_9" required>
			<select style="width: 115px;" id="player_9" name="player_9">
				<option value="batsman">Batsman</option>
				<option value="bowler">Bowler</option>
				<option value="all_rounder">All rounder</option>
				<option value="wicket_keeper">Wicket keeper</option>
			</select>
			<br>
            
			<label for="playerName_10">Player 10</label>
			<input autocomplete="off" type="text" placeholder="required" id="playerName_10" name="playerName_10" required>
			<select style="width: 115px;" id="player_10" name="player_10">
				<option value="batsman">Batsman</option>
				<option value="bowler">Bowler</option>
				<option value="all_rounder">All rounder</option>
				<option value="wicket_keeper">Wicket keeper</option>
			</select>
			<br>
            
			<label for="playerName_11">Player 11</label>
			<input autocomplete="off" type="text" placeholder="required" id="playerName_11" name="playerName_11" required>
			<select style="width: 115px;" id="player_11" name="player_11">
				<option value="batsman">Batsman</option>
				<option value="bowler">Bowler</option>
				<option value="all_rounder">All rounder</option>
				<option value="wicket_keeper">Wicket keeper</option>
			</select>
			<br>
            
			<label for="playerName_12">Player 12</label>
			<input autocomplete="off" type="text" placeholder="optional" id="playerName_12" name="playerName_12">
			<select style="width: 115px;" id="player_12" name="player_12">
				<option value="batsman">Batsman</option>
				<option value="bowler">Bowler</option>
				<option value="all_rounder">All rounder</option>
				<option value="wicket_keeper">Wicket keeper</option>
			</select>
			<br>
            
			<label for="playerName_13">Player 13</label>
			<input autocomplete="off" type="text" placeholder="optional" id="playerName_13" name="playerName_13">
			<select style="width: 115px;" id="player_13" name="player_13">
				<option value="batsman">Batsman</option>
				<option value="bowler">Bowler</option>
				<option value="all_rounder">All rounder</option>
				<option value="wicket_keeper">Wicket keeper</option>
			</select>
			<br>

			<label for="playerName_14">Player 14</label>
			<input autocomplete="off" type="text" placeholder="optional" id="playerName_14" name="playerName_14">
			<select style="width: 115px;" id="player_14" name="player_14">
				<option value="batsman">Batsman</option>
				<option value="bowler">Bowler</option>
				<option value="all_rounder">All rounder</option>
				<option value="wicket_keeper">Wicket keeper</option>
			</select>
			<br>

			<label for="playerName_15">Player 15</label>
			<input autocomplete="off" type="text" placeholder="optional" id="playerName_15" name="playerName_15">
			<select style="width: 115px;" id="player_15" name="player_15">
				<option value="batsman">Batsman</option>
				<option value="bowler">Bowler</option>
				<option value="all_rounder">All rounder</option>
				<option value="wicket_keeper">Wicket keeper</option>
			</select>
			<br>

		<input type="submit" id="submit" value="Submit" disabled>
		</form>

	</body>
</html>



