{% extends 'base.html' %}
{% block content %}
    <body>
        <h1>Signup</h1>
        <form action="signup_" method="post" id="signup_form">
            {% csrf_token %}
            Email: <input  placeholder="required" type="text" name="email_address" required><br>
            Full name: <input  placeholder="required" type="text" name="full_name" required><br>
            Password: <input  placeholder="required" type="text" name="password" required><br>
            Re-type password: <input  placeholder="required" type="text" name="retype_password" required><br>
            <input type="submit">
        </form>
    </body>
{% endblock content %}