{% extends 'base.html' %}
{% block content %}
    <body>
        <script>
            function onChange() {
                const password = document.querySelector('input[name=password]');
                const confirm = document.querySelector('input[name=confirm]');
                if (confirm.value === password.value) {
                   confirm.setCustomValidity('');
                } else {
                    confirm.setCustomValidity('Passwords do not match');
                }
            }
        </script>
        <h1>Signup</h1>
        <form action="signup_" method="post" id="signup_form">
            {% csrf_token %}
            Email: <input placeholder="required" type="text" name="email_address" required><br>
            Full name: <input placeholder="required" type="text" name="full_name" required><br>
            Password: <input placeholder="required" type="password" name="password" required onChange="onChange()"><br>
            Re-type password: <input placeholder="required" type="password" name="confirm" required onChange="onChange()" ><br>
            <input type="submit" />
        </form>
    </body>
{% endblock content %}