<!DOCTYPE html>
<html>
	<title>TITLE</title>
	<head>
	</head>
	<body>
		style="background-color:grey;"
		<h1>Create new match</h1>

		<h4>
			INSTRUCTIONS:
		    <p>Country 1 cannot be the same as Country 2.<p>
		    <p>There should not be a match between country 1 and country 2 on the same date<p>
		    <p>Neither of the 2 co<p>
		</h4>

	
		<form action="super_user/create_new_match" method="post" id="country_selection_form" >
			
			{% csrf_token %}

			<select id="country_1" name="country_1">
				{% for i in Teams %}
					<option value={{ i }}>{{ i }}</option>
				{% endfor %}
			</select>
            
			<br>

		    <p>Start date<input type="date" id="start" name="trip-start" value={{ date }} min={{ date }}></p>
		                  
			<input type="submit" value="Submit">
		</form>
	</body>
</html>

